name: ci

on:
    pull_request:
        branches: [main]

jobs:
    tests:
        name: tests
        runs-on: ubuntu-latest


        steps:
            - name: checkout code
              uses: actions/checkout@v6

            - name: setup go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25.5"
            
            - name: Test
              run: go test ./... -cover

    style:
        name: styling
        runs-on: ubuntu-latest

        steps: 
            - name: checkout code
              uses: actions/checkout@v6
            
            - name: Setup Go
              uses: actions/setup-go@v6
              with:
                go-version: "1.25.2"
            - run: go version
            
            - name: Code formatting
              run: test -z $(go fmt ./...)

            - name: Linter
              uses: dominikh/staticcheck-action@v1
              with: 
                version: latest